
#page-wrapper {
    background-color: #fcf8e354;
    height: 100%;
}
.exit {
    background-color: #f60505;
}
.no {
    text-decoration: none;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
/*body {
    background-color: #51513c30;

}

*/