
#page-wrapper {
    background-color: #fcf8e354;
    height: 100%;
}
.exit {
    background-color: #f60505;
}
.no {
    text-decoration: none;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#Messages {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #ff0000;
    border-right-color:#ff0000;
    font-size: x-large;
    background-color: #f5f008;
    padding: 15px 15px 15px 15px;
    color:red;
    font-size: x-large;
    border-color: black;
    margin: 8px;
}
#massegup {
    box-sizing: border-box;
}

#innerMess {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: white;
    background-color: #28a745;
    position: absolute;
    right: 27%;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 75%);
}

